<template lang="pug">
  .board-block-author
    .board-block-border
      .board-block-img-box(@click="openAuthor")
        .board-block-img(:style="{ backgroundImage: 'url(' + board.image + ')' }")
      .board-block-title(@click="toggleFollow", :class="{'unfollow': !board.follow}")
        p(v-if="!board.follow") 追蹤 {{board.nick_name}}
        p(v-else) 已追蹤 {{board.nick_name}}
    //- .board-block-sub-btn(:class="{ active: board.follow }")
    //-   p(v-if="board.follow") 已追蹤
    //-   p(v-else) 未追蹤
</template>

<script>
export default {
  name: 'BoardBlockAuthor',
  props: ['board'],
  data () {
    return {

    }
  },
  methods:{
    openAuthor(){
      window.open(`https://www.blink.com.tw/@${this.board.username}`);
    },
    toggleFollow(){
      this.board.follow = !this.board.follow;
      this.$forceUpdate();
      
      let vm = this;
      let apiPath = `https://www.blink.com.tw/api/v2/board/author_follow/${this.board.username}/.json`;
      this.$http.post(apiPath)
      .then(response => {
        //這時候再把真的狀態設定上去
        vm.board.follow = response.data.status;
        vm.$forceUpdate();
      });
    }
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px

  .board-block-author
    // flex: 1
    flex: 0 0 auto
    width: 25%
    padding: 0 5px
    margin: 30px 0
    position: relative
    @media screen and (max-width: $breakpoint)
      flex: 0 0 auto
      width: 40%
      margin: 20px 0
      margin-bottom: 60px
    .board-block-border
      width: 150px
      height: 150px
      border-radius: 1000px
      background: linear-gradient(90deg, rgba(201,159,169,1) 0%, rgba(51,70,102,1) 100%)
      // background-color: rgba(#fff,0.8)
      padding: 5px
      // padding-bottom: 20px
      // border: 1px rgba(#fff,0.8) solid
      transition: 0.2s
      margin: auto
      @media screen and (max-width: $breakpoint)
        width: 100px
        height: 100px
      // &:hover
      //   @media screen and (min-width: $breakpoint)
      //     // background-color: rgba(#fff,0.3)
      //     // box-shadow: 0 8px 20px 0 rgba(#000, 0.5)
      //     .board-block-img-box
      //       .board-block-img
      //         transform: translate(-50%,-50%) scale(1.1)
      //     .board-block-title
      //       background-color: #334666
      .board-block-img-box
        width: 100%
        height: 100%
        border-radius: 1000px
        overflow: hidden
        cursor: pointer
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        &::before
          content: ""
          display: block
          width: 100%
          padding-top: 75%
        .board-block-img
          width: 100%
          height: 100%
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          background-size: cover
          background-position: 50% 50%
          transition: 0.3s
      .board-block-title
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 120%)
        min-width: 100%
        // max-width: 160px
        display: flex
        align-items: center
        justify-content: center
        padding: 5px 10px
        border-radius: 5px
        border: 1px solid #334666
        color: #c99fa9
        // border: solid 1px #ffffff
        cursor: pointer
        transition: 0.2s
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        font-size: 0.8em
        overflow: hidden
        box-sizing: border-box
        text-align: center
        p
          word-break: keep-all
        @media screen and (max-width: $breakpoint)
          padding: 5px 10px
          font-size: 0.5em
        &.unfollow
          background-color: #c99fa9
          color: #222
        
    .board-block-sub-btn
      position: absolute
      // bottom: -50px
      left: 45px
      top: 0px
      // left: 50%
      transform: translate(-50%,50%)
      padding: 5px 10px
      border-radius: 1000px
      background-color: rgba(#7b7b7b, 1)
      font-size: 0.7em
      color: #fff
      cursor: pointer
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      &.active
        background-color: rgba(110, 255, 92, 1)
        color: #222
      @media screen and (max-width: $breakpoint)
        left: 45px
        top: 0px

</style>
