<template lang="pug">
  .board-block-author
    .board-block-border(@click="openAuthor")
      .board-block-img-box
        .board-block-img(:style="{ backgroundImage: 'url(' + board.image + ')' }")
      .board-block-title
        p {{board.nick_name}}
    .board-block-sub-btn(:class="{ active: board.follow }", @click="toggleFollow")
      p(v-if="board.follow") 已追蹤
      p(v-else) 未追蹤
</template>

<script>
export default {
  name: 'BoardBlockAuthor',
  props: ['board'],
  data () {
    return {

    }
  },
  methods:{
    openAuthor(){
      window.open(`https://www.blink.com.tw/@${this.board.username}`);
    },
    toggleFollow(){
      this.board.follow = !this.board.follow;
      this.$forceUpdate();
      
      let vm = this;
      let apiPath = `https://www.blink.com.tw/api/v2/board/author_follow/${this.board.username}/.json`;
      this.$http.post(apiPath)
      .then(response => {
        //這時候再把真的狀態設定上去
        vm.board.follow = response.data.status;
        vm.$forceUpdate();
      });
    }
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px

  .board-block-author
    // flex: 1
    flex: 0 0 auto
    width: 25%
    padding: 0 5px
    margin: 5px 0
    margin-bottom: 20px
    position: relative
    @media screen and (max-width: $breakpoint)
      flex: 0 0 auto
      width: 40%
      margin: 20px 0
      margin-bottom: 50px
    .board-block-border
      width: 100%
      border-radius: 10px
      background-color: #334666
      // background-color: rgba(#fff,0.8)
      padding: 10px
      padding-bottom: 20px
      // border: 1px rgba(#fff,0.8) solid
      transition: 0.2s
      @media screen and (max-width: $breakpoint)
        padding: 7px
        padding-bottom: 20px
      &:hover
        @media screen and (min-width: $breakpoint)
          // background-color: rgba(#fff,0.3)
          box-shadow: 0 8px 20px 0 rgba(#000, 0.5)
          .board-block-img-box
            .board-block-img
              transform: translate(-50%,-50%) scale(1.1)
      .board-block-img-box
        width: 100%
        border-radius: 5px
        overflow: hidden
        cursor: pointer
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        &::before
          content: ""
          display: block
          width: 100%
          padding-top: 75%
        .board-block-img
          width: 100%
          height: 100%
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          background-size: cover
          background-position: 50% 50%
          transition: 0.3s
      .board-block-title
        position: absolute
        bottom: 0
        left: 50%
        transform: translate(-50%, 50%)
        width: 70%
        max-width: 140px
        display: flex
        align-items: center
        justify-content: center
        padding: 5px 0
        border-radius: 1000px
        // border: solid 1px #ffffff
        background-color: #c99fa9
        color: #222
        cursor: pointer
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        font-size: 0.8em
        @media screen and (max-width: $breakpoint)
          padding: 5px 0
          font-size: 0.5em
    .board-block-sub-btn
      position: absolute
      // bottom: -50px
      left: 45px
      top: 0px
      // left: 50%
      transform: translate(-50%,50%)
      padding: 5px 10px
      border-radius: 1000px
      background-color: rgba(#7b7b7b, 1)
      font-size: 0.7em
      color: #fff
      cursor: pointer
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      &.active
        background-color: rgba(110, 255, 92, 1)
      @media screen and (max-width: $breakpoint)
        left: 45px
        top: 0px

</style>
