<template lang="pug">
  section#boards
    .posts-section
      .posts-title
        p 版庫
      .boards-title
        p 進入各個版的快速通道
      .loading-img(v-if="isLoading")
        img(src="~@/assets/images/loading-w.gif", alt="")
      .placeholder
      //-   span
      //-   span
      //-   span
      .boards-list
        BoardBlock(:board="board" v-for="board in boards")
</template>

<script>
import BoardBlock from './BoardBlock'

export default {
  name: 'Boards',
  components: { BoardBlock },
  data () {
    return {
      boards: [],
      isLoading: true
    }
  },
  mounted(){
    let vm = this;
    let apiPath = "https://api.myjson.com/bins/om2ev";
    // let apiPath = "https://www.blink.com.tw/board/api/board.json";
    this.$http.get(apiPath)
    .then(response => {
      console.log(response.data);
      vm.boards = response.data.map(x=>{
        return {
          boardTitle: x.title.substr(0, 5),
          boardImg: x.image,
          isFollowing: x.enable,
          id: x.id
        }
      });
      vm.isLoading = false;
    });
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px

  .posts-section
    margin-top: 50px

  .boards-title
    width: 100%
    text-align: center
    color: #fff
    font-size: 1.6em
    margin-top: 30px
    @media screen and (max-width: $breakpoint)
      font-size: 1.5em
  .placeholder
    margin: 20px 0
  .boards-list
    flex-wrap: wrap
</style>
