<template lang="pug">
  section#find
    .find-post-sections
      section#top-posts.posts-section
        .posts-title
          p TOP文章
        .posts-list
          Post(:post="post" v-for="post in findData.week_top10_posts")
      section#issue-posts.posts-section
        .posts-title
          p 議題討論文章
        .posts-list
          Post(:post="post" v-for="post in findData.week_top10_posts")
      section#feature-posts.posts-section
        .posts-title
          p 徵文精選文章
        .posts-list
          Post(:post="post" v-for="post in findData.week_top10_posts")
    .find-other-sections
      section#top-authors.rank-section
        .rank-title
          p TOP 作者
        .rank-list
          .rank-box(v-for="(rank, index) in findData.week_hottest_user"  v-if="index<5" @click="goToAuthor(rank.username)")
            .rank-num
              p {{ "0"+(index+1) }}
            .rank-name
              .rank-name-main
                p {{rank.displayname}}
              .rank-name-sub
                p {{rank.rankSub}}
      section#top-boards.rank-section
        .rank-title
          p TOP 版
        .rank-list
          .rank-box(v-for="(rank, index) in findData.week_top10_boards" v-if="index<5" @click="goToBoard(rank.id)")
            .rank-num
              p {{"0"+(index+1)}}
            .rank-name
              .rank-name-main
                p {{rank.name}}
    .loading-img(v-if="isLoading")
      img.head(src="~@/assets/images/nav/home.png", alt="")

</template>

<script>
import Post from './Post'
import { mapState } from 'vuex'

export default {
  name: 'Find',
  components: { Post },
  data () {
    return {
      findData:{},
      isLoading: true
    }
  },
  mounted(){
    let vm = this;
    let apiPath = "https://api.myjson.com/bins/h14bp";
    // let apiPath = "https://blink.com.tw/board/charts/weekly.json";
    this.$http.get(apiPath)
    .then(response => {
      vm.findData = response.data;
      vm.isLoading = false;
      console.log(vm.findData);
    });
    
  },
  methods:{
    goToAuthor(id){
      window.location = 'https://www.blink.com.tw/@'+id;
    },
    goToBoard(id){
      window.location = 'https://www.blink.com.tw/board/'+id;
    }
  }
  

  
}
</script>

<style lang="sass" scoped>
$breakpoint: 1000px

#find
  flex-direction: row
  .find-post-sections
    width: calc(100% - 300px)
    display: flex
    flex-direction: column
  .find-other-sections
    width: 300px
    display: flex
    flex-direction: column
    align-items: flex-start
    padding-top: 110px
    // border: 1px solid white
    // border-width: 1px 0 1px 0
    margin-bottom: 60px
    background: linear-gradient(60deg, rgba(201,159,169,1) 0%, rgba(51,70,102,1) 100%)
    
    .rank-section
      width: 100%
      display: flex
      flex-direction: column
      margin-bottom: 40px
      .rank-title
        font-size: 2em
        color: #D5D5D5
        margin-bottom: 10px
      .rank-list
        width: 100%
        display: flex
        flex-direction: column
        .rank-box
          width: 100%
          display: flex
          align-items: center
          margin: 5px 0
          transition: 0.3s
          cursor: pointer
          &:hover
            transform: translateX(5px)
          .rank-num
            width: 60px
            height: 40px
            border-radius: 1000px
            background-color: #D5D5D5
            color: #2E2E2E
            margin-right: 20px
            display: flex
            justify-content: center
            align-items: center
            p
              font-size: 2em
              // position: absolute
              // top: calc(50% + 5px)
              // left: calc(50% + 5px)
              // transform: translate(-50%,-50%)
          .rank-name
            .rank-name-main
              font-size: 1.3em
              color: #D5D5D5
            .rank-name-sub
              font-size: 0.7em
              color: #aaa
  @media screen and (max-width: 5000px)
    flex-direction: column-reverse
    .find-post-sections
      width: 100%
    .find-other-sections
      width: 100%
      padding-top: 30px
      align-items: flex-start
      flex-direction: row
      justify-content: space-around
      .rank-section
        width: auto
        font-size: 0.8em
  @media screen and (max-width: 1000px)
    .find-other-sections
      #top-authors
        width: 50%
        padding-left: 10px
        .rank-num
          width: 45px
          height: 30px
          margin-right: 10px
          min-width: 45px
          p
            font-size: 1.5em
      #top-boards
        width: 50%
        padding-left: 10px
        .rank-num
          width: 45px
          height: 30px
          min-width: 45px
          margin-right: 10px
          p
            font-size: 1.5em
</style>
