<template lang="pug">
  header
    router-link.btn-home(tag="div", to="/")
      img(src="~@/assets/images/nav/home.png", alt="")
    router-link.btn-logo(tag="div", to="/")
      img(src="~@/assets/images/nav/logo.svg", alt="")
    .function-group
      router-link(to="/boards", tag="div").btn
        img(src="~@/assets/images/nav/molecular.svg", alt="")
        p 版庫
      .btn
        img(src="~@/assets/images/nav/comment-black-oval-bubble-shape.svg", alt="")
        p 圓桌武士
      .btn
        img(src="~@/assets/images/nav/scientist.svg", alt="")
        p 實習
      .btn
        img(src="~@/assets/images/nav/satellite.svg", alt="")
        p 觀點放送
      .btn
        img(src="~@/assets/images/nav/observation.svg", alt="")
        p 戲劇
      .btn
        img(src="~@/assets/images/nav/holiday.svg", alt="")
        p 閒聊
    .mobile-menu(:class="{'active': isToggleMobileMenu}", @click="toggleMenu")
      span
      span
      span
    .mobile-menu-body(:class="{'active': isToggleMobileMenu}")
      router-link.btn-m(to="/boards", tag="div")
        img(src="~@/assets/images/nav/molecular.svg", alt="")
        p 版庫
      .btn-m
        img(src="~@/assets/images/nav/comment-black-oval-bubble-shape.svg", alt="")
        p 圓桌武士
      .btn-m
        img(src="~@/assets/images/nav/scientist.svg", alt="")
        p 實習
      .btn-m
        img(src="~@/assets/images/nav/satellite.svg", alt="")
        p 觀點放送
      .btn-m
        img(src="~@/assets/images/nav/observation.svg", alt="")
        p 戲劇
      .btn-m
        img(src="~@/assets/images/nav/holiday.svg", alt="")
        p 閒聊
    .colorful
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      msg: 'header',
      isToggleMobileMenu: false
    }
  },
  mounted(){
    
  },
  methods:{
    toggleMenu(){
      this.isToggleMobileMenu = !this.isToggleMobileMenu;
    }
  },
  watch:{
    '$route' (to, from){
      this.isToggleMobileMenu = false;
    }
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px
  header
    position: fixed
    z-index: 10000
    width: 100%
    top: 0
    left: 0
    height: 60px
    background-color: #222222
    display: flex
    align-items: center
    padding: 0 10px
    color: #fff
    .colorful
      width: 100%
      height: 1px
      position: absolute
      bottom: 0
      left: 0
      background: linear-gradient(90deg, rgba(201,159,169,1) 0%, rgba(51,70,102,1) 100%)
    .mobile-menu
      display: none
      align-items: center
      justify-content: center
      flex-direction: column
      // border: 1px gray solid
      padding: 8px
      border-radius: 3px
      position: absolute
      right: 10px
      top: 50%
      transform: translateY(-50%)
      @media screen and (max-width: $breakpoint)
        display: flex
      
      span
        display: block
        width: 20px
        height: 2px
        background-color: white
        margin: 1px 0
        transition: 0.3s
        opacity: 1
      &.active
        // background-color: rgba(white, 0.3)
        // border: none
        // transform: translateX(10px)
        span:nth-child(1)
          width: 25px
          transform-origin: 50% 50%
          transform: rotate(45deg) translateY(120%) translateX(3.2px)
        span:nth-child(2)
          opacity: 0
        span:nth-child(3)
          width: 25px
          transform-origin: 50% 50%
          transform: rotate(-45deg) translateY(-120%) translateX(3.2px)
    .mobile-menu-body
      position: fixed
      top: 45px
      left: 0
      width: 100%
      height: 0
      background-color: #222222
      display: flex
      align-items: center
      flex-direction: column
      justify-content: flex-start
      overflow: hidden
      z-index: 5
      transition: 0.5s
      box-sizing: border-box
      .btn-m
        display: flex
        align-items: center
        padding: 20px 0
        img
          width: 25px
          margin-right: 10px
        p
          min-width: 80px
      &.active
        height: 400px
      
    .function-group
      display: flex
      align-items: center
      @media screen and (max-width: $breakpoint)
        display: none
    .btn
      flex: 0 0 auto
      height: 100%
      display: flex
      align-items: center
      padding: 0 13px
      cursor: pointer
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      background-color: rgba(#2e2e2e,0)
      translate: 0.2s
      &:hover
        background-color: rgba(#2e2e2e,1)
      img
        width: 20px
        margin-right: 7px
    .btn-home
      flex: 0 0 auto
      width: 40px
      margin: 0 5px
      cursor: pointer
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      img
        width: 100%
    .btn-logo
      flex: 0 0 auto
      width: 120px
      margin: 0 5px
      cursor: pointer
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      img
        width: 100%
</style>



