<template lang="pug">
  section#hot
    .loading-img(v-if="isLoading")
      img.head(src="~@/assets/images/nav/home.png", alt="")
    .posts-section
      .posts-title
        p 24 hr 熱門文章
      .posts-list
        .post-item(v-for="(post, index) in hotData")
          Post(:post="post")
          .boards-wrapper
            //- .recommend-author-title(v-if="index%5==0 && index!=0") 作者推薦
            .boards-list(v-if="index%5==0 && index!=0")
              BoardBlockAuthor(:board="author" v-for="author in recommendAuthors.slice( index%recommendAuthors.length , (index+4)%recommendAuthors.length)")
      .more-btn(@click="more", v-if="hasMore")
        p 更多熱門文章
</template>

<script>
import Post from './Post'
import BoardBlockAuthor from './BoardBlockAuthor'


export default {
  name: 'Hot',
  components: { Post, BoardBlockAuthor },
  data () {
    return {
      hotData: [],
      recommendAuthors:[],
      followAuthors: [],
      nextPageUrl: "",
      hasMore: false,
      isLoading: true
    }
  },
  mounted(){
    let vm = this;
    let apiPath = "https://api.myjson.com/bins/tj811";
    // let apiPath = "https://blink.com.tw/board/api/24hr-hot-post.json";
    this.$http.get(apiPath)
    .then(response => {
      console.log(response.data);
      vm.nextPageUrl = response.data.next;
      if(vm.nextPageUrl){
        vm.hasMore = true;
      }else{
        vm.hasMore = false;
      }
      vm.isLoading = false;
      vm.hotData = response.data.results;
    });

    //取得推薦作者
    let apiPathAuthor = "https://api.myjson.com/bins/pi7tj";
    // let apiPathAuthor = "https://www.blink.com.tw/account/api/recommend-creator-profile.json";
    this.$http.get(apiPathAuthor)
    .then(response => {

      console.log(response.data);

      vm.recommendAuthors = response.data;
      
      //因為image url外面一樣無法連 所以先都用某張圖替代 正式上機可以移除下面三行
      response.data.map(author=>{
        author.image = "https://thumbor.blink.com.tw/NnHse8Nmj-92GCV6CGVouDhUr2g=/300x300/http://blinkimage.s3.amazonaws.com/images/profile_picture/h/ha/hanchien.yang.jpg";
        return author;
      });
      
      
      
      //取得已經追蹤的作者
      let apiPathAuthorFollowed = "https://api.myjson.com/bins/13iojd";
      // let apiPathAuthorFollowed = "https://www.blink.com.tw/api/v2/board/my_follow_author_username_list.json";
      vm.$http.get(apiPathAuthorFollowed)
      .then(response => {
        vm.followAuthors = response.data.data;
        for(let i=0; i<vm.recommendAuthors.length; i++){
          if( vm.followAuthors.indexOf(vm.recommendAuthors[i].username)!= -1 ){
            vm.recommendAuthors[i].follow = true;
          }else{
            vm.recommendAuthors[i].follow = false;
          }
        }
      });
    });
    
  },
  methods: {
    more: function() {
      
      this.retrievePost();
    },
    retrievePost(){
      let vm = this;
      let apiPath = "https://api.myjson.com/bins/imvhp";
      // let apiPath = this.nextPageUrl;
      this.$http.get(apiPath)
      .then(response => {
          vm.nextPageUrl = response.data.next;
          for(let item of response.data.results){
            vm.hotData.push(item);
          }
          if(vm.nextPageUrl){
            vm.hasMore = true;
          }else{
            vm.hasMore = false;
          }
      });
    }

  },
  watch:{
    followAuthors(to){
      console.log(to);
    }
  }
}
</script>

<style lang="sass" scoped>

</style>
