<template lang="pug">
  .marquee(v-if="marqueeDatas.length>0")
    .marquee-icon
      img(src="~@/assets/images/marquee.svg", alt="")
    .marquee-contents
      carousel(:data="marqueeDOMs" :controls="false" :indicators="false" :interval="4000" :autoplay="true" direction="up")
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/database';
export default {
  name: 'Marquee',
  data () {
    return {
      marqueeDatas: []
    }
  },
  mounted(){
    var firebaseConfig = {
      apiKey: "AIzaSyAGAdDpQWt52bV6_PUgpp55aawYN0k9Jyg",
      authDomain: "chatroom-b1dd4.firebaseapp.com",
      databaseURL: "https://chatroom-b1dd4.firebaseio.com",
      projectId: "chatroom-b1dd4",
      storageBucket: "chatroom-b1dd4.appspot.com",
      messagingSenderId: "526102862036",
      appId: "1:526102862036:web:19fb022fb1545ce5"
    };
    
    firebase.initializeApp(firebaseConfig);
    let vm = this;
    var ref = firebase.database().ref("msg");
    ref.on('value', function(snapshot) {
      let _data = snapshot.val();
      console.log(_data);
      let count = 0;
      vm.marqueeDatas = Object.values(_data).map(d=>{
        let roomName = "";
        switch (count) {
          case 0:
            roomName = "閒聊";  
            break;
          case 1:
            roomName = "面試";  
            break;
          case 2:
            roomName = "實習";  
            break;
          case 3:
            roomName = "工作";  
            break;
        }
        count++;
        return Object.values(d).map(x=>{
          return `[${roomName}]${x.name}: ${x.msg}`;
        }).slice(0).slice(-5);
      }).join().split(',');
    });
  },
  computed: {
    marqueeDOMs: function() {
      let doms = [];
      for(let data of this.marqueeDatas) {
        doms.push(
          `
          <a class="marquee-content" href="https://www.blink.com.tw/chatroom/" target="_blank">
            <p>${data}</p>
            <div class="marquee-btn">加入討論</div>
          </a>
          `
        )
      }
      return doms;
    }
  }
}
</script>

<style lang="sass" >
$breakpoint: 1000px

.marquee
  position: fixed
  width: 100%
  bottom: 0px
  right: 0px
  height: 50px
  // width: 500px
  display: flex
  align-items: center
  padding: 10px 15px
  padding-left: 20px
  color: #fff
  background-color: rgba(black, 0.31)
  // border-radius: 1000px 0 0 1000px
  z-index: 10
  @media screen and (max-width: $breakpoint)
    width: 100%
    border-radius: 0
  .marquee-icon
    width: 20px
    height: 20px
    margin-right: 10px
    img
      width: 100%
  .marquee-contents
    flex: 1
    height: 100%
    font-size: 0.9em
    overflow: hidden
    display: flex
    align-items: center  
    .marquee-content
      display: flex
      align-items: center
      width: 100%
      color: #fff
      p
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        text-decoration: underline
        text-decoration-color: rgba(#fff,0)
      .marquee-btn
        flex: 0 0 auto
        height: 100%
        padding: 5px 10px
        font-size: 0.7em
        border-radius: 5px
        border: 1px solid #fff
        background-color: rgba(#000, 0.17)
        cursor: pointer
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        transition: 0.2s
        user-select: none
        margin-left: 10px
      &:hover
        .marquee-btn
          background-color: rgba(#000, 0.5)
        p
          text-decoration-color: rgba(#fff,1)
    .carousel
      max-width: initial
      

</style>
