<template lang="pug">
  section#new
    .loading-img(v-if="isLoading")
      img.head(src="~@/assets/images/nav/home.png", alt="")
    .posts-section
      .posts-title
        p 最新文章
      .posts-list
        .post-item(v-for="(post, index) in newData")
          Post(:post="post")
          .boards-wrapper
            .boards-list(v-if="index%5==0 && index!=0")
              BoardBlockAuthor(:board="author" v-for="author in recommendAuthors.slice( index%recommendAuthors.length , (index+4)%recommendAuthors.length)")
      .more-btn(@click="more", v-if="hasMore")
        p 更多最新文章
</template>

<script>
import Post from './Post'
import BoardBlockAuthor from './BoardBlockAuthor'


export default {
  name: 'New',
  components: { Post, BoardBlockAuthor },
  data () {
    return {
      newData: [],
      recommendAuthors:[],
      nextPageUrl: "",
      hasMore: false,
      isLoading: true
    }
  },
  mounted(){
    let vm = this;
    let apiPath = "https://api.myjson.com/bins/1cn8jp";
    // let apiPath = "https://blink.com.tw/board/api/newest-post.json";
    this.$http.get(apiPath)
    .then(response => {
      vm.nextPageUrl = response.data.next;
      if(vm.nextPageUrl){
        vm.hasMore = true;
      }else{
        vm.hasMore = false;
      }
      vm.isLoading = false;
      vm.newData = response.data.results;
    });

    //取得推薦作者
    let apiPathAuthor = "https://api.myjson.com/bins/v9oy5";
    // let apiPathAuthor = "https://www.blink.com.tw/account/api/recommend-creator-profile.json";
    this.$http.get(apiPathAuthor)
    .then(response => {
      vm.recommendAuthors = response.data;
      // console.log(vm.recommendAuthors);
      response.data.map(author=>{
        author.image = "https://thumbor.blink.com.tw/uZEcq_yNDChcfLHsJCGf1OemgOw=/http://blinkimage.s3.amazonaws.com/images/discount_images/5/53/5344_eas3nicp3an42bybumpmkwjq0.png";
        return author;
      });
      
      //取得已經追蹤的作者
      let apiPathAuthorFollowed = "https://api.myjson.com/bins/13iojd";
      // let apiPathAuthorFollowed = "https://www.blink.com.tw/api/v2/board/my_follow_author_username_list.json";
      vm.$http.get(apiPathAuthorFollowed)
      .then(response => {
        vm.followAuthors = response.data.data;
        for(let i=0; i<vm.recommendAuthors.length; i++){
          if( vm.followAuthors.indexOf(vm.recommendAuthors[i].username)!= -1 ){
            vm.recommendAuthors[i].follow = true;
          }else{
            vm.recommendAuthors[i].follow = false;
          }
        }
      });
    });
  },
  methods: {
    more: function() {
      this.retrievePost();
    },
    retrievePost(){
      let vm = this;
      let apiPath = "https://api.myjson.com/bins/imvhp";
      // let apiPath = this.nextPageUrl;
      this.$http.get(apiPath)
      .then(response => {
          vm.nextPageUrl = response.data.next;
          for(let item of response.data.results){
            vm.newData.push(item);
          }
          if(vm.nextPageUrl){
            vm.hasMore = true;
          }else{
            vm.hasMore = false;
          }
      });
    }
  }
}
</script>

<style lang="sass" scoped>

</style>
