<template lang="pug">
  .post
    .post-main
      .left
        .post-author
          .post-author-img(:style="{borderColor: post.follower_color}", @click="openAuthor(post.creator_username)")
            img(:src="post.author_avatar", alt="")
          .post-author-info(@click="openAuthor(post.creator_username)")
            .post-author-name
              p {{post.author_name}}
            .post-author-time
              p {{post.created | moment("from", "now")}}
          a.post-board(@click="openBoard(post.board_id)")
            p {{post.board_title}}
        .post-title(@click="goToPost(post.id)")
          p {{post.title}}
        .post-info()
          p {{post.summary}}
        .post-data
          .post-view
            .post-view-icon
              img(src="~@/assets/images/view.svg", alt="")
            .post-view-num
              p {{post.views_count}}
          .post-comment
            .post-comment-icon
              img(src="~@/assets/images/comment.svg", alt="")
            .post-comment-num
              p {{post.replies_num}}
          .post-favorites
            .post-comment-icon
              img(src="~@/assets/images/save.svg", alt="")
            .post-comment-num
              p {{post.favorites_num}}
          .post-like
            .post-comment-icon
              img(src="~@/assets/images/heart.svg", alt="")
            .post-comment-num
              p {{post.likes_num}}
      //- .right
      //-   a.post-board(:href="openBoard(post.board_id)")
      //-     p {{post.board_title}}
    .post-img(:style="{ backgroundImage: 'url(' + post.first_image + ')' }")
    .colorful
</template>

<script>
export default {
  name: 'Post',
  props: ['post'],
  data () {
    return {

    }
  },
  methods:{
    goToPost(id){
      window.location = 'https://www.blink.com.tw/board/post/'+id;
    },
    openBoard(id){
      window.open(`https://www.blink.com.tw/board/${id}`);
    },
    openAuthor(id){
      if(id) window.open(`https://www.blink.com.tw/@${id}`);
    }
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px

  .post
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin-bottom: 30px
    // cursor: pointer
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
    padding: 30px 20px
    transition: box-shadow 0.2s, background-color 0.2s
    background-color: #2e2e2e
    box-shadow: 0 8px 10px 0 rgba(#000, 0)
    // overflow: hidden
    user-select: none
    // border: 1px solid rgba(black, 0.5)
    // border-radius: 10px
    border-width: 0px 0 1px 0
    max-width: 1024px
    margin: auto
    .post-main
      display: flex
      justify-content: space-between
      // width: 80%
      padding-right: 10px
      .left
        display: flex
        flex-direction: column
        // max-width: 60%
      
      .post-author
        width: 100%
        display: flex
        align-items: center
        cursor: pointer
        .post-author-img
          flex: 0 0 auto
          width: 50px
          height: 50px
          border-radius: 100%
          overflow: hidden
          margin-right: 15px
          border: 3px solid #f00
          img
            width: 100%
            height: 100%
        .post-author-info
          display: flex
          flex-direction: column
          .post-author-name
            color: #c99fa9
          .post-author-time
            font-size: 0.7em
            color: #a5a3a3
        &:hover
          filter: brightness(1.2)
      .post-title
        width: 100%
        font-size: 1.3em
        margin: 10px 0
        color: #fff
        text-decoration: underline
        text-decoration-color: rgba(#fff,0)
        transition: 0.2s
        cursor: pointer
        &:hover
          text-decoration-color: rgba(#fff,1)
        p
          // overflow: hidden
          // white-space: nowrap
          text-overflow: ellipsis
      .post-info
        width: 100%
        color: #a5a3a3
        font-size: 0.9em
        margin-bottom: 20px
        display: -webkit-box
        -webkit-box-orient: vertical
        -webkit-line-clamp: 2
        line-height: 20px
        height: 60px
        overflow: hidden
        max-height: 60px
      .post-data
        display: flex
        align-items: center
        color: #fff
        font-size: 0.8em
        .post-view
          display: flex
          align-items: center
          margin-right: 20px
          .post-view-icon
            height: 20px
            margin-right: 10px
            img
              height: 100%
        .post-comment, .post-like, .post-favorites
          display: flex
          align-items: center
          margin-right: 10px
          .post-comment-icon
            height: 20px
            margin-right: 10px
            img
              height: 100%
        .post-like, .post-favorites
          cursor: pointer
    .post-board
      display: block
      padding: 8px 13px
      border-radius: 5px
      margin-left: 15px
      border: 1px solid #334666
      color: #c99fa9
      font-size: 0.9em
      min-width: 80px
      text-align: center
      transition: 0.3s
      cursor: pointer
      font-weight: 300
      &:hover
        background-color: #334666
        color: #c99fa9
    .post-img
      // flex: 1
      width: 250px
      height: 200px
      min-width: 250px
      border-radius: 5px
      background-size: cover
      background-position: 50% 50%
      &::before
        content: ""
        display: block
        width: 100%
        padding-top: 56.25%
    @media screen and (max-width: $breakpoint)
      width: 100%
      display: flex
      flex-direction: column-reverse
      padding: 0
      border-radius: 0px
      .left
        width: 100%
      .post-main
        width: 100%
        padding: 20px 10px
      .post-board
        padding: 10px 10px 10px 13px
        // border-radius: 1000px 0 0 1000px
        border-radius: 5px
        margin-right: 0
        border: 0
        background-color: rgba(#000,0.5)
        color: #fff
        position: absolute
        right: -10px
        top: 0
        z-index: 1
      .post-img
        min-height: 70vw
        width: 100%
        border-radius: 0px
    .colorful
      width: 100%
      height: 1px
      position: absolute
      bottom: 0
      left: 0
      background: linear-gradient(90deg, rgba(201,159,169,1) 0%, rgba(51,70,102,1) 100%)
</style>
