<template lang="pug">
  section#search
    .loading-img(v-if="isLoading")
      img.head(src="~@/assets/images/nav/home.png", alt="")
    .search-section
      .search-radios
        label.search-radio(for="radio-author")
          input(type="radio" id="radio-author" name="radio" value="author" v-model="searchType")
          .checkmark
          span 搜尋人物
        label.search-radio(for="radio-post")
          input(type="radio" id="radio-post" name="radio" value="title" v-model="searchType")
          .checkmark
          span 搜尋文章
        label.search-radio(for="radio-content")
          input(type="radio" id="radio-content" name="radio" value="content" v-model="searchType")
          .checkmark
          span 搜尋內容
        label.search-radio(for="radio-board")
          input(type="radio" id="radio-board" name="radio" value="board" v-model="searchType")
          .checkmark
          span 搜尋版
        label.search-radio(for="radio-tag")
          input(type="radio" id="radio-tag" name="radio" value="tags" v-model="searchType")
          .checkmark
          span 搜尋標籤
      .search-bar
        .search-icon
          img(src="~@/assets/images/search.png", alt="")
        input.search-input(v-model="searchText", @keydown.enter="search")
        .search-btn(@click="search")
          p 搜尋
    
    .placeholder
      span
      span
      span
    .posts-section
      .posts-list
        Post_Author(:post="post" v-for="post in posts" v-if="currentSearchType=='author'")
        Post_Board(:post="post" v-for="post in posts" v-else-if="currentSearchType=='board'")
        Post(:post="post" v-for="post in posts" v-else)
      .more-btn(v-if="isSearched && hasMore" @click="more")
        p 更多搜尋結果
</template>

<script>
import Post from './Post'
import Post_Author from './Post_author'
import Post_Board from './Post_board'

export default {
  name: 'Search',
  components: { Post, Post_Author, Post_Board },
  data () {
    return {
      posts: [],
      searchType: "author",
      searchText: "",
      isSearched: false,
      currentSearchType: "author",
      isLoading: false,
      nextPageUrl: "",
      hasMore: false
    }
  },
  mounted(){

  },
  methods: {
    search: function() {
      if(this.searchText == "") return;
      this.searchText = "";
      
      this.currentSearchType = this.searchType;
      this.isLoading = true;
      this.posts = [];
      let vm = this;
      
      let apiPath = "https://api.myjson.com/bins/imvhp";
      console.log(`搜尋文字 ${this.searchText}`);
      console.log(`搜尋種類 ${this.searchType}`);
      // let apiPath = `https://blink.com.tw/api/board/post/search/?q=${this.searchText}&field=${this.searchType}`;
      this.$http.get(apiPath)
      .then(response => {
        vm.nextPageUrl = response.data.next;
        if(vm.nextPageUrl){
          vm.hasMore = true;
        }else{
          vm.hasMore = false;
        }
        vm.posts = response.data.results;
        vm.isLoading = false;
      });

    },
    more: function() { 
      this.retrievePost();
    },
    retrievePost(){
      let vm = this;
      let apiPath = "https://api.myjson.com/bins/imvhp";
      // let apiPath = this.nextPageUrl;
      this.$http.get(apiPath)
      .then(response => {
          vm.nextPageUrl = response.data.next;
          for(let item of response.data.results){
            vm.posts.push(item);
          }
          if(vm.nextPageUrl){
            vm.hasMore = true;
          }else{
            vm.hasMore = false;
          }
      });
    }
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px

  .search-section
    width: 100%
    padding: 0 90px
    display: flex
    flex-direction: column
    @media screen and (max-width: $breakpoint)
      padding: 0 15px
      font-size: 0.8em
    .search-radios
      width: 100%
      display: flex
      flex-wrap: wrap
      color: #fff
      margin-bottom: 20px
      margin-left: 20px
      .search-radio
        padding: 5px 10px
        border-radius: 1000px
        border: 1px solid #FFF
        display: flex
        align-items: center
        cursor: pointer
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        margin-right: 20px
        user-select: none
        @media screen and (max-width: $breakpoint)
          padding: 7px 12px
          margin-right: 10px
          margin-bottom: 10px
        .checkmark
          width: 13px
          height: 13px
          border-radius: 100%
          background-color: #fff
          margin-right: 10px
          transition: 0.2s
        input
          position: absolute
          visibility: hidden
        input:checked ~ .checkmark
          background-color: #c99fa9
    .search-bar
      width: 100%
      height: 50px
      border-radius: 1000px
      background-color: #fff
      display: flex
      align-items: center
      justify-content: space-between
      // overflow: hidden
      .search-icon
        flex: 0 0 auto
        margin-left: 20px
        width: 20px
        height: 20px
        img
          width: 100%
      .search-input
        // flex: 1
        width: calc(100% - 140px)
        height: 100%
        padding: 0 10px
        font-size: 1.5em
        border: 0
      .search-btn
        width: 100px
        height: 105%
        flex: 0 0 auto
        margin-right: -2px
        border-radius: 1000px
        background-color: #2e2e2e
        padding: 10px
        cursor: pointer
        -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
        user-select: none
        &:hover
          &::before
            background-color: rgba(#c99fa9,0.5)
          p
            // color: #2e2e2e
        &::before
          content: ""
          display: block
          width: calc(100% - 16px)
          height: calc(100% - 16px)
          border: 2px solid #c99fa9
          background-color: rgba(#c99fa9,0)
          border-radius: 1000px
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          transition: 0.2s
        p
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%,-50%)
          color: #fff
          transition: 0.2s
</style>
