<template lang="pug">
  .slider
    keep-alive
      carousel(:data="sliderDOMs")
</template>

<script>

export default {
  name: 'Slider',

  data () {
    return {
      sliderDatas: [
        {href: "https://www.google.com.tw/", imgUrl: "https://farm1.staticflickr.com/706/31692488423_729f0cbcd8_b.jpg"},
        {href: "https://www.google.com.tw/", imgUrl: "https://farm1.staticflickr.com/706/31692488423_729f0cbcd8_b.jpg"},
        {href: "https://www.google.com.tw/", imgUrl: "https://farm1.staticflickr.com/706/31692488423_729f0cbcd8_b.jpg"}
      ],
      sliderDOMs: null
    }
  },
  mounted(){
    let vm = this;
    let apiPath = "https://api.myjson.com/bins/lzp9d";
    // let apiPath = "https://blink.com.tw/api/v2/banner/list.json";
    this.$http.get(apiPath)
    .then(response => {
      vm.sliderDatas = response.data.big_banners.map(x=>{
        return {href: x.link, imgUrl: x.image}
      });
      let doms = [];
      for(let data of vm.sliderDatas) {
        doms.push(
          `
          <a href="${data.href}" target="_blank">
            <div class="slide" style="background-image: url('${data.imgUrl}')"></div>
          </a>
          `
        )
      }
      vm.sliderDOMs = doms;
    });
  },
  computed: {
    // sliderDOMs: function() {
    //   let doms = [];
    //   for(let data of this.sliderDatas) {
    //     doms.push(
    //       `
    //       <a href="${data.href}" target="_blank">
    //         <div class="slide" style="background-image: url('${data.imgUrl}')"></div>
    //       </a>
    //       `
    //     )
    //   }
    //   return doms;
    // }
  }
}
</script>

<style lang="sass" >
  $breakpoint: 1000px

  .slider
    width: 100%
    background-color: #111
    background-size: cover
    background-position: 50% 50%
    display: flex
    padding: 20px 0
    
  .carousel
    position: absolute
    top: 0
    left: 0
    width: 100%
    max-width: 1024px
    margin: auto
    &__list
      border-radius: 10px
      overflow: hidden
    &__control
      opacity: 0.5 !important
      z-index: 1 !important
      transform: translateX(0) !important
      &:hover
        opacity: 1 !important
    &__item
      transition: transform 0.5s ease-in-out !important
    @media screen and (max-width: $breakpoint)
      &__list
        border-radius: 0px


  .slide
    align-items: center
    background-color: #666
    color: #999
    display: flex
    font-size: 1.5rem
    justify-content: center
    min-height: 100%
    background-size: cover
    background-position: 50% 50%
    &::before
      content: ""
      display: block
      width: 100%
      height: 450px
      @media screen and (max-width: $breakpoint)
        height: auto
        padding-top: 75%
</style>



