<template lang="pug">
  .tabs
    router-link(to="/")
      .tab-btn.active(data-tab="find")
        p 發現
    router-link(to="/hot")
      .tab-btn(data-tab="hot")
        p 熱門
    router-link(to="/new")
      .tab-btn(data-tab="new")
        p 最新
    router-link(to="/follow")
      .tab-btn(data-tab="follow")
        p 追蹤
    router-link(to="/search")
      .tab-btn(data-tab="search")
        p 搜尋
    //- router-link(to="/boards")
    //-   .tab-btn(data-tab="boards")
    //-     p 版庫
</template>

<script>
export default {
  name: 'Tabs',
  data () {
    return {

    }
  }
}
</script>

<style lang="sass" scoped>
  $breakpoint: 1000px

  .tabs
    margin-top: 20px
    margin-bottom: 50px
    width: 100%
    max-width: 900px
    display: flex
    justify-content: center
    flex-wrap: wrap
    @media screen and (max-width: $breakpoint)
      margin-top: 10px
      margin-bottom: 10px
      padding: 0 10px
      justify-content: center
    @media screen and (max-width: 521px)
      justify-content: flex-end
      .hr
        width: 100%
    a
      flex: 1
      margin: 15px 10px
      min-width: 120px
      max-width: 180px
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      @media screen and (max-width: $breakpoint)
        min-width: 80px
        max-width: 80px
      &.router-link-exact-active>.tab-btn
        background-color: rgba(#fff, 0.89)
        box-shadow: 0 8px 18px 0 rgba(#000, 0.94)
        color: rgba(#000,1)
        // border: 1px solid rgba(#fff,0)
        &::before
          opacity: 1
          transform: translateY(0%) translateX(-50%) 
        &:hover
          background-color: rgba(#fff, 0.89)
          box-shadow: 0 8px 18px 0 rgba(#000, 0.94)
          color: rgba(#000,1)

    .tab-btn
      width: 100%
      height: 40px
      border-radius: 1000px
      background-color: rgba(#fff, 0)
      box-shadow: 0 8px 18px 0 rgba(#000, 0)
      display: flex
      align-items: center
      justify-content: flex-end
      padding: 0 20px
      color: rgba(#fff,0.6)
      cursor: pointer
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
      transition: 0.2s
      user-select: none
      // border: 1px solid rgba(#fff,0.3)
      @media screen and (max-width: $breakpoint)
        padding: 0 10px 0 0
      &::before
        content: ""
        display: block
        opacity: 0
        position: absolute
        bottom: -15px
        left: 50%
        transform: translateX(-50%) translateY(5px)
        width: 20%
        height: 4px
        border-radius: 1000px
        background-color: #00ff33
        transition: all 0.2s
        background: linear-gradient(60deg, rgba(201,159,169,1) 0%, rgba(51,70,102,1) 100%)
      &:hover
        background-color: rgba(#fff, 0.6)
        box-shadow: 0 8px 18px 0 rgba(#000, 0.3)
        color: rgba(#000,0.8)
        // border: 1px solid rgba(#fff,0)


</style>
