<template lang="pug">
  #app
    Header
    keep-alive
      Marquee(v-if="!isBoards")
    Slider(v-if="!isBoards")
    .new-post
      a(href="https://www.blink.com.tw/accounts/login/?next=/board/new-post/", target="_blank")
        img(src='@/assets/images/post.svg')
        //- p 發表文章
    .page-wrapper
      Tabs(v-if="!isBoards")
      transition
        keep-alive
          router-view
    .loading-cover(:class="{'active': isLoading}")
      img.head(src="~@/assets/images/nav/home.png", alt="")
      
</template>

<script>
import Header from './components/Header'
import Marquee from './components/Marquee'
import Slider from './components/Slider'
import Tabs from './components/Tabs'
// import Vuex from 'vuex'

export default {
  components: { Header, Marquee, Slider, Tabs },
  data(){
    return{
      isBoards: false,
      isLoading: true
    }
  },
  created(){
    let vm = this;
    Pace.on("done", function(){
      vm.isLoading = false;
      console.log("Loaded");
    });
  },
  mounted(){
    this.isBoards = this.$route.name == 'Boards';
  },
  name: 'App',
  watch: {
    '$route' () {
      console.log(this.$route.name);
      this.isBoards = this.$route.name == 'Boards';
    }
  }  
}
</script>

<style lang="sass">
  $breakpoint: 1000px

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    text-decoration: none

  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section
    display: block

  body
    line-height: 1

  ol, ul
    list-style: none

  blockquote, q
    quotes: none

  blockquote:before, blockquote:after,
  q:before, q:after
    content: ''
    content: none

  table
    border-collapse: collapse
    border-spacing: 0

  *
    box-sizing: border-box
    position: relative
    outline: none

  html,body,.app
    width: 100%
    background-color: #2e2e2e
    font-family: 'M PLUS Rounded 1c', PingFangTC, "微軟正黑體", sans-serif
    font-weight: normal
    line-height: normal
    letter-spacing: 1px

  #app
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 60px
  .loading-cover
    position: fixed
    top: 0
    left: 0
    z-index: 10001
    width: 100vw
    height: 100vh
    background-color: #222222
    opacity: 0
    transition: 0.5s
    pointer-events: none
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    .head
      width: 60px
      height: 60px
      animation-name: rotate
      animation-duration: 1s
      animation-iteration-count: infinite
    &.active
      pointer-events: all
      opacity: 1

  .loading-img
    margin: auto
    img
      width: 80px
      height: 80px
    .head
      width: 60px
      height: 60px
      animation-name: rotate
      animation-duration: 1s
      animation-iteration-count: infinite
  @keyframes rotate
    0%
      transform: rotate(-15deg) scale(1)
    50%
      transform: rotate(15deg) scale(1)
    100%
      transform: rotate(-15deg) scale(1)

  .new-post
    color: white
    font-size: 14px
    text-align: center
    position: fixed
    right: 20px
    bottom: 60px
    transition: 0.3s
    cursor: pointer
    z-index: 20
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3))
    img
      width: 60px
    &:hover
      bottom: 17px
    a:link, a:visited
      color: white

  .page-wrapper
    width: 100%
    max-width: 1600px
    display: flex
    flex-direction: column
    align-items: center
    &::before
      content: ""
      display: none
      width: 100vw
      height: 2px
      background-color: #fff
      position: absolute
      top: 10px
      left: 50%
      transform: translateX(-50%)
    >section
      width: 100%
      display: flex
      flex-direction: column
      // &.active
        // display: flex

  .posts-section
    width: 100%
    padding: 0 80px
    display: flex
    flex-direction: column
    align-items: flex-start
    margin-bottom: 50px
    .posts-title
      padding: 7px 30px 7px 20px
      border-radius: 0 1000px 1000px 0
      background-color: #fff
      font-size: 2em
      color: #2e2e2e
      margin-bottom: 20px
      
      &::before
        content: ""
        display: block
        width: 5000px
        height: 100%
        background-color: #fff
        position: absolute
        top: 0
        right: calc(100% - 5px)
    .posts-list
      width: 100%
      display: flex
      flex-direction: column
      margin: 30px 0
    @media screen and (max-width: $breakpoint)
      width: 100%
      padding: 0
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-bottom: 50px
      .posts-title
        width: 100%
        padding: 10px 0
        border-radius: 0
        font-size: 1.5em
        text-align: center
        &::before
          display: none
  .boards-wrapper
    width: 100%
    padding: 10px 0
    overflow: auto
    .recommend-author-title
      color: white
      font-size: 1.5em
      padding: 10px 0
      text-align: center
  .boards-list
    width: 100%
    display: flex
    max-width: 1024px
    // margin: auto
    // flex-wrap: wrap
    margin: 0px auto
    @media screen and (max-width: $breakpoint)
      justify-content: flex-start
      padding: 0 10px

  .placeholder
    width: 100%
    display: flex
    justify-content: center
    margin: 50px 0
    span
      width: 5px
      height: 5px
      border-radius: 100%
      background-color: #fff
      margin: 0 10px

  .more-btn
    width: 90%
    max-width: 300px
    align-self: center
    border-radius: 1000px
    background-color: #fff
    box-shadow: 0 3px 18px 0 #000000
    border: solid 1px #707070
    padding: 10px 0
    text-align: center
    font-size: 1.3em
    translate: 0.2s
    cursor: pointer
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0)
    &:hover
      background-color: #eee

  .v-leave
    transform: translateX(0px)
    opacity: 1
  .v-leave-active
    transition: all 0.5s
  .v-leave-to
    transform: translateX(100px)
    opacity: 0
  .v-enter
    transform: translateX(-100px)
    opacity: 0
  .v-enter-active
    transition: all 1s 
  .v-enter-to
    transform: translateX(0px)
    opacity: 1
</style>
